---
import { PostsItem } from "@/components/posts-item";
import { RecordsItems } from "@/components/records-items";
import { getKnowledgePage } from "@/lib/api";
import Layout from "@/pages/_/layout.astro";
import { TheTestimonies } from "./_/the-testimonies";

// PARAMS **********************************************************************************************************************************
const { knowledge = "traditions-ancestrales" } = Astro.params;

// DATA ************************************************************************************************************************************
const { consultations, events, post, testimonies, trainings, workshops } = await getKnowledgePage(knowledge, {
  pocketbase: Astro.locals.pocketbase,
  cache: import.meta.env.DEV ? "1d" : undefined,
});

// VARS ************************************************************************************************************************************
const seo = { title: knowledge === "traditions-ancestrales" ? undefined : post.title };
const count = +(consultations.length > 0) + +(workshops.length > 0) + +(trainings.length > 0);
const eventIntent = count > 0 ? "primary" : "light";
---

<Layout {seo}>
  <PostsItem {post} border="top" />
  <RecordsItems client:visible title="Consultation" items={consultations} intent={count > 1 ? "primary" : "light"} />
  <RecordsItems client:visible title="Atelier" items={workshops} intent="light" />
  <RecordsItems client:visible title="Formation" items={trainings} intent={count === 3 ? "white" : "light"} />
  <RecordsItems client:visible title="Événement" items={events} border="bottom" intent={eventIntent} forceMultiple removeStale externalLink>
    <div>
      <p>Retrouvez bientôt ici l'ensemble de mes événements.</p>
      <strong>Vous pouvez déjà en obtenir le programme en me faisant une demande via le formulaire de contact.</strong>
    </div>
  </RecordsItems>
  <TheTestimonies {...testimonies} />
</Layout>
